xml/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="college">
<xs:complexType>
<xs:sequence>

<xs:element name="title" type="xs:string"/>
<xs:element name="location" type="xs:string"/>


</xs:sequence>


</xs:complexType>


</xs:element>

</xs:schema>